In [2]:
#Import dependacies
from bs4 import BeautifulSoup as soup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser=Browser('chrome', **executable_path, headless=False)

#Visit Site
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

# Parse through websit data
html = browser.html
html_soup= soup(html, 'html.parser')

In [4]:
# Get te table from Mars website
table = html_soup.find('table', class_='table table-striped')
print(table.prettify())

<table class="table table-striped">
 <tbody>
  <tr>
   <th scope="row">
    Equatorial Diameter:
   </th>
   <td>
    6,792 km
   </td>
  </tr>
  <tr>
   <th scope="row">
    Polar Diameter:
   </th>
   <td>
    6,752 km
   </td>
  </tr>
  <tr>
   <th scope="row">
    Mass:
   </th>
   <td>
    6.39 × 10^23 kg (0.11 Earths)
   </td>
  </tr>
  <tr>
   <th scope="row">
    Moons:
   </th>
   <td>
    2 (
    <span class="red">
     Phobos
    </span>
    &amp;
    <span class="red">
     Deimos
    </span>
    )
   </td>
  </tr>
  <tr>
   <th scope="row">
    Orbit Distance:
   </th>
   <td>
    227,943,824 km (1.38 AU)
   </td>
  </tr>
  <tr>
   <th scope="row">
    Orbit Period:
   </th>
   <td>
    687 days (1.9 years)
   </td>
  </tr>
  <tr>
   <th scope="row">
    Surface Temperature:
   </th>
   <td>
    -87 to -5 °C
   </td>
  </tr>
  <tr>
   <th scope="row">
    First Record:
   </th>
   <td>
    2nd millennium BC
   </td>
  </tr>
  <tr>
   <th scope="row">
    Recorded By:
   </th>
   <td>
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

In [7]:
# Store the table data in a python structure (Dictionary)
mars_facts = {}
rows = table.findAll('tr')
for row in rows:
    row_heading=row.find('th').text
    row_data=row.find('td').text.strip()
    mars_facts[row_heading] = row_data

In [8]:
mars_facts

{'Equatorial Diameter:': '6,792 km',
 'Polar Diameter:': '6,752 km',
 'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
 'Moons:': '2 ( Phobos  &  Deimos )',
 'Orbit Distance:': '227,943,824 km (1.38 AU)',
 'Orbit Period:': '687 days (1.9 years)',
 'Surface Temperature:': '-87 to -5 °C',
 'First Record:': '2nd millennium BC',
 'Recorded By:': 'Egyptian astronomers'}

Let’s go over the preceding code:

The mars_facts dictionary, empty for now, will eventually hold the table data.

We use the find_all method to find all the table rows (tr). We save the table rows in the rows variable.

In each for loop iteration, the text of the row's table header (th) gets saved to the row_heading variable.

In the same for loop iteration, the text of the row’s table data (td) gets extracted. The strip method then strips any white space that this text contains. The text then gets saved to the row_data variable.

In the same for loop iteration, the row becomes an entry in the mars_facts dictionary. The table heading becomes the key, and the table data becomes the value.

In [9]:
#Quit browser session
browser.quit()